body {
  background: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 0.5rem 1.5rem;
}

main.wrapp {
  margin: 3rem auto;
  max-width: 40rem;
  text-align: center;
  width: 100%;
}
.cropper {
  margin: 1.5rem;
}


.imgCropper-wrapper {
  margin: 3rem auto 0 auto;
  max-width: 40rem;
  text-align: center;
  width: 100%;
}

.frame {
  border: 2px solid #FFFFFF;
  margin-bottom: 20px;
}

.frame > img {
  width: 100%;
}

#controls button {
  margin: 0 5px;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  min-width: 2em;
  font-size: 16px;
  line-height: 30px;
  transition: background 200ms ease-out;
}

#controls button:hover {
  background: #2196F3;
}

.result {
  clear: both;
  margin-top: 50px;
}
.result img { width: 80%; }

.github-link {
  display: block;
  position: absolute;
  top: 3em;
  right: -6.5em;
  padding: 1em;
  width: 20em;
  text-align: center;
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: .7em;
  color: #393939;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.imgCropper-controls {
  background: #FAFAFA;
  tet-align: center;
}
button {
  margin: 0;
  padding: 0.8rem 1rem;
  background: transparent;
  border: none;
  display: inline-block;
  font-size: 1.5rem;
}
button:focus,
button:hover {
  color: #4371D0;
  cursor: pointer;
  outline: none;
}