<div class="frame">
    <div class="imgCropper-window">
        <div class="imgCropper-canvas">
            <img ng-src="{{image}}">
        </div>
    </div>
</div>
<div id="controls" ng-if="showControls">
    <button ng-click="rotateLeft()" type="button" title="Rotate left"> &lt; </button>
    <button ng-click="zoomOut()" type="button" title="Zoom out"> - </button>
    <button ng-click="fit()" type="button" title="Fit image"> [ ] </button>
    <button ng-click="zoomIn()" type="button" title="Zoom in"> + </button>
    <button ng-click="rotateRight()" type="button" title="Rotate right"> &gt; </button>
</div>
